* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  

  /*currentDate*/
  .currentDate {
    height: 12rem;
    background-color: #6fcde4;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }

  .currentDate h1 {
        font-size: 3rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }

    .currentDate p {
        font-size: 1.6rem; 
    }

    
    /*currentWeek*/
    .currentWeek {
        background-color: #ffc20e;
    }


    /*currentWeekdays*/
    .currentWeekdays {
        height: 5rem;
    }

    .currentWeekdays div {
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        width: calc(44.2rem / 7);
        display: flex;
        justify-content: center;
        align-items: center;
        /*text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);*/
    }


    /*currentDays*/
    .currentDays {
        flex-wrap: wrap;
        padding: 0.2rem;
    }

    .currentDays div {
        font-size: 1.4rem;
        margin: 0.3rem;
        width: calc(25.4rem / 7);
        /*height: 5rem;*/
        display: flex;
        justify-content: center;
        align-items: center;
        /*text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);*/
        transition: background-color 0.2s;

        height: 3.5rem;
        border-radius: 50%;
        margin-bottom: 1.3rem;
    }


    /*teams*/
    .teams {
        font-size:1.6rem;
    }


    .selectTeams {
        font-size:1.9rem !important;
    }


    /*officeWork*/
    .officeWork {
        background-color: #8dc63f;
    } 
    
    
    .currentDay {
        border: 3px solid #ee3124;

        border-radius: 50%;
    }


    /*square*/
    .squareOffice {
        padding: 5px;
        width: 5px;
        height: 10px;
        background-color: #8dc63f;
    }

    .squareHome {
        padding: 5px;
        width: 5px;
        height: 10px;
        background-color: #ffc20e;
    }


    .squareCurrentDay {
        padding: 5px;
        width: 5px;
        height: 10px;
        background-color: #ee3124;
    }
   
    .explanation {
        font-size:1.2rem;
    }
      

 